@use "fonts.css";
@use "reset.css";
@use "keyframes";
@use "mixins";

$black-color: #151515;
$semibold-font: "Lufga SemiBold", sans-serif;
$medium-font: "Lufga Medium", sans-serif;

body {
  font-family: $medium-font;
  font-size: 20px;
  color: $black-color;
  background-color: #fff;
  line-height: 1.1;
  overflow-x: hidden;
}

.container {
  max-width: 1350px;
  padding: 0 10px;
  margin: 0 auto;
}

.title {
  font-family: "Lufga ExtraBold";
  font-weight: 800;
  font-size: 125px;
  letter-spacing: -0.05em;

  @media screen and (max-width: 1024px) {
    font-size: 85px;
  }

  @media screen and (max-width: 768px) {
    width: 100%;
  }

  @media screen and (max-width: 580px) {
    font-size: 65px;
  }

  @media screen and (max-width: 375px) {
    font-size: 48px;
  }
}

.header {
  z-index: 5;
  position: absolute;
  width: 100%;
  top: 47px;
  padding: 0 10px;

  @media screen and (max-width: 460px) {
    top: 27px;
  }

  &__mobile {
    display: none;

    @media screen and (max-width: 1024px) {
      display: flex;
      gap: 0 20px;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 10px;

    @media screen and (max-width: 1024px) {
      position: absolute;
      flex-direction: column;
      background-color: $black-color;
      padding: 20px;
      gap: 20px;
      z-index: 6;
      border-radius: 8px;
      right: 20px;
      transform: translateY(-200%);
      transition: 0.3s;

      &-active {
        transform: translateY(10px);
        animation: bounceMenuShow 0.5s linear 1;
      }

      & > div {
        flex-direction: column;
        gap: 30px;
      }

      .logo {
        display: none;
      }
    }

    & > div {
      display: flex;
      align-items: center;
    }
  }

  &__list {
    display: flex;
    align-items: center;

    @media screen and (max-width: 1024px) {
      flex-direction: column;
      gap: 30px;
    }
  }

  &__link {
    @include mixins.flex-center;
    width: 168px;
    height: 60px;
    font-size: 18px;
    letter-spacing: -0.01em;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 60px;
    transition: 0.3s;

    &-active {
      color: $black-color;
      background-color: #fff;
    }

    &:hover {
      color: $black-color;
      background-color: #fff;
      transition: 0.3s;
    }

    @media screen and (max-width: 1024px) {
      height: auto;
      border: 0;

      &-active,
      &:hover {
        color: #fff;
        background-color: inherit;
        text-decoration: underline;
      }
    }
  }

  &__search {
    @include mixins.flex-center;
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 60px;
    transition: 0.3s;

    @media screen and (max-width: 1024px) {
      order: 1;
      align-self: flex-start;
    }

    &:hover {
      transform: scale(1.1);
      transition: 0.3s;
    }
  }

  &__menu {
    position: relative;
    height: 28px;
    width: 40px;

    & > img {
      position: absolute;
      left: 0;
      transition: all 0.3s;
    }

    & > img:nth-child(1) {
      top: 0;
    }

    & > img:nth-child(2) {
      top: 50%;
      transform: translateY(-50%);
    }

    & > img:nth-child(3) {
      bottom: 0;
    }

    &-active {
      & > img:first-child {
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
        transition: top 0.3s, transform 0.6s;
      }

      & > img:nth-child(2) {
        opacity: 0;
      }

      & > img:last-child {
        bottom: 50%;
        transform: translateY(50%) rotate(45deg);
        transition: bottom 0.3s, transform 0.6s;
      }
    }
  }
}

.logo {
  @include mixins.flex-center;
  width: 60px;
  height: 60px;
  border: 1px solid #fff;
  border-radius: 60px;
  backdrop-filter: blur(10px);
}

.nav__list {
  display: flex;
  align-items: center;

  @media screen and (max-width: 1024px) {
    flex-direction: column;
    gap: 30px;
  }
}

.intro {
  background-image: url("../assets/images/intro/back.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: calc(100% - 20px);
  min-height: calc(100vh - 20px);
  height: calc(100vh - 20px);
  margin: 10px auto;
  border-radius: 20px;
  border-bottom-right-radius: 30px;
  position: relative;
  padding-bottom: 22px;

  &__inner {
    padding-top: 231px;
    height: calc(100vh - 42px);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: space-between;
    flex-wrap: wrap;
    gap: 50px;

    @media screen and (max-width: 1024px) {
      padding-top: 141px;
    }

    @media screen and (max-height: 880px) {
      height: calc(100% - 20px);
    }

    @media screen and (max-width: 460px) {
      padding-top: 120px;
    }
  }

  &__content {
    @include mixins.flex-center;
    flex-direction: column;
    width: fit-content;
    position: relative;
    margin: 0 auto;
    user-select: none;

    h1 {
      font-family: $semibold-font;
      font-size: 48px;
      letter-spacing: -0.01em;
      color: #fff;
      position: absolute;
      left: 0;
      top: 0;

      @media screen and (max-width: 1180px) {
        left: 30px;
        top: -15px;
      }
      @media screen and (max-width: 580px) {
        font-size: 32px;
      }

      @media screen and (max-width: 480px) {
        left: 45px;
      }

      @media screen and (max-width: 460px) {
        left: 0;
      }

      @media screen and (max-width: 375px) {
        font-size: 24px;
      }
    }

    h2 {
      font-family: "Lufga Bold", sans-serif;
      font-size: 341px;
      letter-spacing: -0.01em;
      color: #fff;
      display: flex;
      line-height: 1;

      @media screen and (max-width: 1180px) {
        font-size: 241px;
      }

      @media screen and (max-width: 880px) {
        font-size: 191px;
      }

      @media screen and (max-width: 690px) {
        font-size: 151px;
      }

      @media screen and (max-width: 580px) {
        font-size: 131px;
      }

      @media screen and (max-width: 480px) {
        font-size: 101px;
      }

      @media screen and (max-width: 375px) {
        font-size: 71px;
      }

      & > div {
        position: relative;
        z-index: 4;

        &:hover > img {
          transform: rotate(5deg);
          transition: 0.3s;
        }

        & > img {
          position: absolute;
          z-index: -1;
          left: -35px;
          top: -20px;
          transition: 0.3s;

          @media screen and (max-width: 1180px) {
            width: 387px;
            height: auto;
          }

          @media screen and (max-width: 880px) {
            display: none;
          }
        }
      }
    }
  }

  &__text {
    max-width: 760px;
    line-height: 1.3;
    letter-spacing: -0.01em;
    color: #fff;
    margin-top: -15px;
    margin-left: 100px;

    @media screen and (max-width: 1180px) {
      max-width: 520px;
    }

    @media screen and (max-width: 880px) {
      max-width: 470px;
    }

    @media screen and (max-width: 580px) {
      font-size: 16px;
      max-width: 320px;
      margin-top: -5px;
    }

    @media screen and (max-width: 375px) {
      font-size: 14px;
    }
  }

  &__btn {
    position: absolute;
    bottom: -1px;
    right: -1px;
    background-color: #fff;
    padding: 10px 0 0 10px;
    border-top-left-radius: 32px;

    @media screen and (max-width: 820px) {
      display: none;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      height: 32px;
      width: 32px;
      border-bottom-right-radius: 30px;
      background: transparent;
    }

    &::before {
      bottom: 0px;
      left: -32px;
      box-shadow: 6px 6px 0 5px white;
    }

    &::after {
      right: 0;
      bottom: 109px;
      box-shadow: 6px 6px 0 5px white;
    }

    & > button {
      font-family: $semibold-font;
      border: 1px solid $black-color;
      border-radius: 32px;
      padding: 33px 59px;
      width: 367px;
      height: 99px;
      font-size: 25px;
      letter-spacing: -0.01em;
      color: $black-color;
      transition: 0.3s;
      position: relative;
      z-index: 3;

      @media screen and (max-width: 460px) {
        width: 100%;
        height: auto;
        padding: 26px 0;
      }

      &:hover {
        background-color: $black-color;
        color: #fff;
        transition: 0.3s;
      }
    }
  }

  &__plants {
    padding-left: 12px;
    display: inline-flex;

    @media screen and (max-width: 375px) {
      padding-left: 0;
    }
  }

  &__plants:hover &__descr {
    transition: 0.3s;
    background: rgba(255, 255, 255, 0.3);
  }

  &__plants:hover &__images {
    transition: 0.3s;
    background: rgba(255, 255, 255, 0.3);
  }

  &__descr {
    max-width: 272px;
    color: #fff;
    border: 1px solid #979797;
    border-radius: 32px;
    backdrop-filter: blur(14px);
    background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    letter-spacing: -0.01em;
    transition: 0.3s;

    @media screen and (max-width: 480px) {
      max-width: 202px;
    }

    @media screen and (max-width: 375px) {
      padding: 15px;
      max-width: 172px;
    }

    &-hover {
      transform: translateX(20px);
      animation: retreatLeftBounce 0.3s linear 1;
    }

    &-notHover {
      transform: translateX(0);
      animation: retreatLeftReverseBounce 0.3s linear 1;
    }

    & > h4 {
      font-size: 38px;
      padding-bottom: 20px;

      @media screen and (max-width: 480px) {
        font-size: 28px;
        padding-bottom: 15px;
      }

      @media screen and (max-width: 375px) {
        font-size: 24px;
        padding-bottom: 12px;
      }
    }

    & > p {
      font-size: 16px;
      max-width: 202px;
      line-height: 1.2;

      @media screen and (max-width: 375px) {
        font-size: 14px;
      }
    }
  }

  &__images {
    border: 1px solid #979797;
    border-radius: 32px;
    backdrop-filter: blur(14px);
    background: rgba(255, 255, 255, 0.2);
    position: relative;
    width: 112px;
    height: 192px;
    transition: 0.3s;

    @media screen and (max-width: 375px) {
      height: 182px;
      width: 94px;
    }

    & > img {
      position: absolute;
      display: block;
      width: 72px;
      height: 72px;
      object-fit: cover;
      border-radius: 50px;
      left: 20px;
      transition: 0.3s;

      @media screen and (max-width: 375px) {
        width: 56px;
        height: 56px;
      }

      @media screen and (max-width: 320px) {
        left: 6px;
      }

      &:hover {
        z-index: 3;
        border: 1px solid #979797;
        height: 122px;
        transition: 0.3s;
        cursor: pointer;
        animation: heightBounce 0.3s linear 1;
      }

      &:nth-child(1) {
        top: 20px;
      }

      &:nth-child(2) {
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;
      }

      &:nth-child(3) {
        bottom: 20px;
      }
    }
  }
}

.for {
  padding: 62px 0;

  @media screen and (max-width: 580px) {
    padding: 47px 0;
  }

  @media screen and (max-width: 375px) {
    padding: 32px 0;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0 20px;

    @media screen and (max-width: 880px) {
      justify-content: flex-start;
      flex-wrap: wrap;
      gap: 30px 20px;
    }

    @media screen and (max-width: 550px) {
      justify-content: center;
      gap: 20px;
    }
  }

  &__content {
    max-width: 292px;
    min-width: 252px;
    letter-spacing: -0.01em;

    @media screen and (max-width: 880px) {
      max-width: 50%;
    }

    @media screen and (max-width: 550px) {
      max-width: 100%;
      text-align: center;
    }

    & > h2 {
      font-family: $semibold-font;
      font-size: 44px;
      padding-bottom: 60px;
      line-height: 1;

      @media screen and (max-width: 550px) {
        font-size: 36px;
        padding-bottom: 30px;
      }
    }

    & > p {
      font-size: 13px;
    }
  }

  &__video {
    min-width: 244px;
    height: 142px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;

    & > video {
      object-fit: cover;
      filter: grayscale(100%);
    }
  }

  &__control {
    position: absolute;
    right: -2px;
    top: 50%;
    transform: translateY(-50%);
    box-sizing: content-box;
    width: 15px;
    height: 16px;
    padding: 28px;
    background-color: $black-color;
    border-radius: 50%;
    border: 3px solid #fff;

    & > img {
      vertical-align: super;
    }
  }

  &__descr {
    font-family: $semibold-font;
    max-width: 686px;
    font-size: 36px;
    letter-spacing: -0.01em;

    @media screen and (max-width: 880px) {
      max-width: 100%;
    }

    @media screen and (max-width: 550px) {
      font-size: 28px;
      text-align: center;
    }
  }

  &__logo {
    background-image: url("../assets/images/for/logo-back.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 60px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 178px;
    height: 60px;
    position: relative;
    vertical-align: text-bottom;

    @media screen and (max-width: 550px) {
      height: 50px;
      width: 138px;
    }

    @media screen and (max-width: 375px) {
      display: none;
    }

    &:hover img {
      box-sizing: border-box;
      height: 100%;
      width: auto;
      padding: 9px 66.9px;
      object-fit: contain;
      transition: all 0.3s;

      @media screen and (max-width: 550px) {
        padding: 7px 50px;
      }
    }

    & > img {
      position: absolute;
      backdrop-filter: blur(10px);
      box-sizing: content-box;
      width: 40px;
      padding: 11px 10px;
      border-radius: 60px;
      transition: all 0.3s;

      @media screen and (max-width: 550px) {
        width: 26px;
      }
    }
  }
}

.species {
  &__tabs {
    display: flex;
    gap: 0 20px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 80px;

    @media screen and (max-width: 1200px) {
      flex-direction: column;
      gap: 20px;
    }

    @media screen and (max-width: 1024px) {
      margin-bottom: 60px;
      align-items: flex-start;
    }

    @media screen and (max-width: 550px) {
      margin-bottom: 40px;
    }
  }

  &__filters {
    display: inline-flex;
    align-items: center;

    @media screen and (max-width: 1024px) {
      max-width: 500px;
      gap: 20px 10px;
      flex-wrap: wrap;
    }
  }

  &__btn {
    font-size: 25px;
    letter-spacing: -0.01em;
    color: #0d0d0d;
    padding: 12.5px 40px;
    border: 1px solid #0d0d0d;
    border-radius: 60px;

    &-active {
      border: 1px solid #fff;
      background: #10110e;
      color: #fff;
    }

    @media screen and (max-width: 550px) {
      width: 100%;
    }
  }

  &__content {
    display: none;

    &-active {
      display: flex;
      gap: 14px;

      @media screen and (max-width: 769px) {
        flex-direction: column;
        gap: 24px;
      }
    }

    &:first-child > div:nth-child(1) {
      background-image: url("../assets/images/species/petFriendly.jpg");
    }

    &:first-child > div:nth-child(2) {
      background-image: url("../assets/gifs/orchid.gif");
    }

    &:first-child > div:nth-child(3) {
      background-image: url("../assets/images/species/succulents.jpg");
    }
  }

  &__card {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: grayscale(100%);
    padding: 28px 20px 32px;
    border-radius: 20px;
    color: #fff;
    transition: 0.3s;
    width: 25%;
    height: 411px;
    display: grid;
    align-content: space-between;
    cursor: pointer;

    @media screen and (max-width: 769px) {
      width: 100%;
      height: 240px;
    }

    &:hover {
      filter: none;
      transition: 0.3s;
    }

    &-active {
      width: 50%;
      filter: none;

      @media screen and (max-width: 769px) {
        width: 100%;
        height: 340px;
      }
    }
  }

  &__card-active &__link,
  &__card-active &__descr {
    visibility: visible;
    transform: translateY(0);
    transition: all 0.3s, min-width 0s, font-size 0s;
  }

  &__card-active &__link {
    min-width: 55px;

    @media screen and (max-width: 320px) {
      min-width: 45px;
    }
  }

  &__card-active &__descr {
    font-size: 16px;

    @media screen and (max-width: 550px) {
      font-size: 14px;
    }
  }

  &__card-active &__badge {
    border: 0.5px solid #b3b3b3;
    transition: 0.3s;
  }

  &__title {
    padding: 11px 20px;
    display: flex;
    gap: 0 10px;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 1024px) {
      padding: 0;
    }

    & > h3 {
      font-family: "Lufga Bold";
      font-size: 53px;
      letter-spacing: -0.01em;
      word-break: break-word;

      @media screen and (max-width: 1250px) {
        font-size: 43px;
      }

      @media screen and (max-width: 550px) {
        font-size: 32px;
      }

      @media screen and (max-width: 375px) {
        font-size: 28px;
      }

      @media screen and (max-width: 320px) {
        font-size: 24px;
      }
    }
  }

  &__link {
    @include mixins.flex-center;
    min-width: 0;
    height: 55px;
    background-color: #fff;
    border-radius: 50%;
    visibility: hidden;
    transform: translateY(100px);
    transition: all 0.3s, visibility 0.1s, min-width 0.5s;

    @media screen and (max-width: 320px) {
      height: 45px;
    }

    &:hover {
      transform: scale(1.1);
      transition: 0.3s;
    }
  }

  &__descr {
    font-family: "Lufga Regular";
    font-size: 0;
    padding: 0 20px;
    margin-top: 35px;
    letter-spacing: -0.01em;
    width: 100%;
    visibility: hidden;
    transform: translateY(100px);
    transition: all 0.3s, visibility 0.1s;

    @media screen and (max-width: 1024px) {
      padding: 0;
    }

    @media screen and (max-width: 769px) {
      max-width: 480px;
    }

    @media screen and (max-width: 550px) {
      margin-top: 20px;
    }
  }

  &__footer {
    border-top: 1px solid #b3b3b3;
    padding-top: 23px;
    margin-top: 5px;
  }

  &__badge {
    font-family: $semibold-font;
    font-size: 11px;
    letter-spacing: 0.01em;
    width: fit-content;
    display: flex;
    gap: 0 4px;
    align-items: center;
    backdrop-filter: blur(7px);
    background: rgba(255, 255, 255, 0.2);
    border: 0.5px solid #5a5a5a;
    border-radius: 29px;
    padding-right: 19px;
    transition: 0.3s;

    &:hover {
      border: 0.5px solid #b3b3b3;
      transition: 0.3s;
    }

    & > img {
      padding: 9px;
      border-radius: 47px;
      background-color: rgba(199, 199, 199, 0.45);
      border: 0.5px solid rgba(255, 255, 255, 0.2);
    }
  }
}

.new {
  padding: 125px 0;
  overflow: hidden;

  @media screen and (max-width: 768px) {
    padding: 95px 0;
  }

  @media screen and (max-width: 580px) {
    padding: 75px 0 55px;
  }

  @media screen and (max-width: 375px) {
    padding: 50px 0 35px;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0 25px;
    padding-bottom: 40px;

    @media screen and (max-width: 768px) {
      flex-wrap: wrap;
      gap: 20px;
      text-align: center;
    }

    @media screen and (max-width: 375px) {
      padding-bottom: 25px;
    }

    p {
      font-family: $semibold-font;
      letter-spacing: 0.01em;
      max-width: 619px;
      font-size: 18px;

      @media screen and (max-width: 1024px) {
        max-width: 419px;
      }

      @media screen and (max-width: 768px) {
        max-width: 100%;
      }

      @media screen and (max-width: 580px) {
        font-size: 16px;
      }

      @media screen and (max-width: 320px) {
        font-size: 14px;
      }
    }
  }

  &__inner {
    overflow: hidden;
  }

  &__slider {
    overflow: hidden;
    padding: 55px;
    margin: -55px;
  }

  &__descr {
    position: relative;
    width: 100%;
  }

  &__favorite {
    box-sizing: content-box;
    position: absolute;
    top: 13px;
    left: 11px;
    width: 24px;
    height: 24px;
    padding: 20px;
    backdrop-filter: blur(15px);
    background: rgba(255, 255, 255, 0.3);
    border: 0.5px solid #efefef;
    border-radius: 60px;
    font-size: 0;

    &::after {
      content: url("../assets/images/icons/general/favorite-empty.svg");
      position: absolute;
      display: block;
      width: 24px;
      height: 24px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &-chosen::after {
      content: url("../assets/images/icons/general/favorite-full.svg");
      animation: chooseFavorite 0.2s ease-in-out 1;
    }

    @media screen and (max-width: 375px) {
      padding: 15px;
    }
  }

  &__item {
    box-shadow: 0 0 55px 0 rgba(0, 0, 0, 0.1);
    border-radius: 24px;
    padding: 10px 10px 24px 10px;
    height: auto;
    display: grid;
  }

  &__img {
    border-radius: 14px;
    object-fit: cover;
    object-position: center;
    display: block;
    width: 100%;
    height: 312px;

    @media screen and (max-width: 768px) {
      min-height: 252px;
      height: auto;
    }

    @media screen and (max-width: 375px) {
      min-height: 202px;
      max-height: 202px;
    }
  }

  &__about {
    display: flex;
    gap: 0 10px;
    justify-content: space-between;
    align-items: flex-end;
    letter-spacing: -0.03em;
    padding-top: 13px;
  }

  &__name {
    font-size: 32px;
    line-height: 1.2;

    @media screen and (max-width: 768px) {
      font-size: 28px;
    }

    @media screen and (max-width: 580px) {
      font-size: 24px;
    }

    @media screen and (max-width: 500px) {
      font-size: 22px;
      max-width: 162px;
    }

    @media screen and (max-width: 320px) {
      font-size: 20px;
      max-width: 142px;
    }
  }

  &__text {
    font-family: "Lufga Regular";
    font-size: 18px;
    color: #959595;
    padding-bottom: 14px;

    @media screen and (max-width: 580px) {
      font-size: 16px;
    }

    @media screen and (max-width: 320px) {
      font-size: 14px;
      padding-bottom: 9px;
    }
  }

  &__price {
    font-family: $semibold-font;
    font-size: 18px;

    @media screen and (max-width: 580px) {
      font-size: 16px;
    }

    @media screen and (max-width: 320px) {
      font-size: 14px;
    }
  }

  &__link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 62px;
    height: 62px;
    background-color: $black-color;
    border-radius: 57px;

    @media screen and (max-width: 580px) {
      min-width: 52px;
      height: 52px;
    }

    @media screen and (max-width: 320px) {
      min-width: 42px;
      height: 42px;
    }
  }
}

.swiper {
  &-wrapper {
    box-sizing: border-box;
    align-items: stretch;
  }

  &-slide {
    opacity: 0;

    &-visible {
      opacity: 1;
      transition: 0.3s;
    }
  }

  &-pagination {
    position: relative;
    padding-top: 56px;

    @media screen and (max-width: 375px) {
      padding-top: 36px;
    }

    &-bullet {
      background-color: #b9babc;
      border-radius: 21px;
      margin: 0 6px !important;
      width: 15px;
      height: 15px;
      transition: 0.3s;

      @media screen and (max-width: 375px) {
        width: 10px;
        height: 10px;
        margin: 0 3px !important;
      }

      &-active {
        background-color: #101010;
        width: 60px;
        transition: 0.3s;

        @media screen and (max-width: 375px) {
          width: 30px;
        }
      }
    }
  }
}

.collection {
  padding-bottom: 182px;

  @media screen and (max-width: 880px) {
    padding-bottom: 132px;
  }

  @media screen and (max-width: 768px) {
    padding-bottom: 82px;
  }

  @media screen and (max-width: 580px) {
    padding-bottom: 62px;
  }

  h2 {
    padding-bottom: 68px;
    text-align: center;

    @media screen and (max-width: 768px) {
      padding-bottom: 48px;
    }

    @media screen and (max-width: 580px) {
      padding-bottom: 36px;
    }
  }

  &__inner {
    display: flex;
    gap: 24px 20px;
    flex-wrap: wrap;

    @media screen and (max-width: 768px) {
      gap: 20px;
    }

    @media screen and (max-width: 320px) {
      gap: 15px;
    }
  }

  &__inner > div:nth-child(1) {
    background-image: url("../assets/images/collection/1.jpg");
    width: calc(58% - 10px);
  }

  &__inner > div:nth-child(2) {
    background-image: url("../assets/images/collection/2.jpg");
    width: calc(42% - 10px);
  }

  &__inner > div:nth-child(3) {
    background-image: url("../assets/images/collection/3.jpg");
    width: calc(42% - 10px);
  }

  &__inner > div:nth-child(4) {
    background-image: url("../assets/images/collection/4.jpg");
    width: calc(58% - 10px);
  }

  &__item {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    padding: 10px;
    color: #fff;
    height: 371px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    cursor: pointer;
    position: relative;

    @media screen and (max-width: 980px) {
      width: calc(50% - 10px) !important;
    }

    @media screen and (max-width: 768px) {
      width: 100% !important;
    }

    @media screen and (max-width: 480px) {
      height: 321px;
    }

    @media screen and (max-width: 375px) {
      height: 291px;
    }

    & > div {
      transition: all 0.3s;
    }

    &:hover > div {
      padding: 20px 24px;
      border-radius: 24px;
      backdrop-filter: blur(25px);
      background: rgba(255, 255, 255, 0.1);
      height: fit-content;
      transition: all 0.3s;

      @media screen and (max-width: 480px) {
        padding: 10px 12px;
      }
    }
  }

  &__link {
    font-size: 0;
    position: absolute;
    width: 64px;
    height: 64px;
    right: 10px;
    top: 10px;
    border: 1px solid #fff;
    border-radius: 57px;
    background-color: transparent;
    transition: 0.3s;

    @media screen and (max-width: 480px) {
      width: 54px;
      height: 54px;
    }

    &::after {
      content: url("../assets/images/collection/icons/arrow-white.svg");
      position: absolute;
      display: block;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__item:hover &__link {
    background-color: #fff;

    &::after {
      content: url("../assets/images/collection/icons/arrow-black.svg");
      transition: 0.3s;
    }
  }

  &__name {
    font-family: "Lufga Bold", sans-serif;
    font-size: 70px;
    letter-spacing: -0.01em;
    padding-bottom: 25px;

    @media screen and (max-width: 1200px) {
      font-size: 56px;
    }

    @media screen and (max-width: 980px) {
      font-size: 42px;
    }

    @media screen and (max-width: 480px) {
      font-size: 36px;
      padding-bottom: 15px;
    }

    @media screen and (max-width: 375px) {
      font-size: 32px;
    }

    @media screen and (max-width: 320px) {
      font-size: 28px;
      padding-bottom: 10px;
    }
  }

  &__text {
    font-family: "Lufga Regular", sans-serif;
    font-size: 0;
    letter-spacing: -0.01em;
    transition: opacity 0.3s, font-size 0.4s;
    opacity: 0;
  }

  &__item:hover &__text {
    font-size: 16px;
    opacity: 1;
    transition: opacity 0.3s;

    @media screen and (max-width: 375px) {
      font-size: 14px;
    }

    @media screen and (max-width: 320px) {
      font-size: 12px;
    }
  }
}

.quality {
  &__title {
    font-family: "Lufga ExtraBold", sans-serif;
    font-size: 108px;
    line-height: 1.18;
    letter-spacing: -0.05em;
    text-align: center;

    @media screen and (max-width: 980px) {
      font-size: 86px;
      line-height: 1;
      padding-bottom: 12px;
    }

    @media screen and (max-width: 768px) {
      font-size: 68px;
    }
  }

  &__text {
    font-family: $semibold-font;
    font-size: 18px;
    letter-spacing: 0.01em;
    text-align: center;
    max-width: 937px;
    margin: 0 auto;
    padding-top: 8px;

    @media screen and (max-width: 980px) {
      max-width: 816px;
    }
  }

  &__video {
    position: relative;
    width: 808px;
    margin: 73px auto 182px;
    border-radius: 40px;
    overflow: hidden;
    transition: 0.5s;

    @media screen and (max-width: 880px) {
      width: 660px;
      margin: 63px auto 132px;
    }

    video {
      display: block;
      object-fit: cover;
      width: 100%;
      opacity: 0;
      transition: 0.5s;
      transition: 0.3s;
    }

    &-active {
      width: 100%;
      margin-bottom: 0;
      transition: 0.3s;

      video {
        opacity: 1;
        transition: 0.3s;
      }
    }
  }

  &__poster {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
    z-index: 1;
    opacity: 1;
    cursor: pointer;
  }

  &__video-active &__poster {
    z-index: -1;
    transition: 0.5s;
  }

  &__btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 172px;
    height: 172px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(15px);
    background: rgba(0, 0, 0, 0.2);
    border-radius: 100px;
    border: 1px solid #ffffff;
    transition: 0.3s;
    z-index: 2;

    &-active {
      transform: translate(-200px, -150px);
      opacity: 0;
      visibility: 0;
      transition: 0.3s;
    }
  }
}
